@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family:  "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Lora", serif !important;
  font-size: 1.625rem !important;
}
h4 {
  color: rgb(76 76 76);
  font-size: 0.875rem;
}
h3 {
  font-family: "Lora", serif;
  color: rgb(76 76 76);
  font-size: 0.875rem;
}
.logo img {
  width: 70px;
  height: 50px;
}

.banner {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}
.navbar {
  width: 90%;
  padding: 30px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.logo {
  width: 160px;
  margin-top: -10px;
  cursor: pointer;
}
#appMenu li {
  list-style: none;
  display: inline-block;
  margin: 20px;
}
#appMenu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  padding: 0.3rem 2rem;
  font-size: 1rem;
}
#appMenu li a:hover {
  color: black;
}
.navbar li a:hover {
  background: #f7f2ea;
  padding: 0.3rem 2rem;
  border-radius: 5px;
  transition: 0.6s;
}
.navbar a:hover {
  color: black;
}
.menu-button {
  background-color: #ffffff00;
  border: none;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  color: white;
  top: 65%;
  transform: translateY(-50%);
  text-align: center;
}
.content h1 {
  font-size: 3rem !important;
  font-weight: 800;
  color: white;
}
.content h3 {
  font-size: 2rem;
  color: white !important;
}
.content h1,
h3 {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
}

.content h1 {
  animation-delay: 0.5s;
}

.content h3 {
  animation-delay: 1s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

button {
  padding: 15px;
  margin: 20px 5px;
  text-align: center;
  border-radius: 4px;
  color: rgb(3, 61, 61);
  border: 1px solid rgb(3, 61, 61);
  font-size: 0.875rem;
  cursor: pointer;
  font-weight: 600;
  background-color: white;
}
button:hover {
  background-color: #daebeb;
  transition: 0.5s;
}
.banner video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Main section styling */
.villa-section {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: start;
  max-width: 100%;
  content-visibility: auto;
}

.villa-description {
  grid-column: 1/5;
  width: 100%;
}

.villa-description h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #333;
}

.villa-details {
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 20px;
  display: flex;
  gap: 0.5rem;
}

.main-features {
  margin-bottom: 30px;
}
h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.main-features ul {
  list-style-type: none;
}

.main-features ul li {
  font-size: 16px;
  margin-bottom: 16px;
  color: rgb(76 76 76);
}

.main-features ul li i {
  margin-right: 10px;
  color: rgb(76 76 76);
  font-weight: 600;
}

/* Modal design for more characteristiques */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 55%;
  max-width: 55%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-height: 95%; /* Set a fixed height */
  height: 95%;
  overflow-y: auto; /* Enable vertical scrolling */
  border-radius: 5px;
}
.close {
  color: rgb(3, 61, 61);
  float: right;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 0px 3px #c4c4c4;
  border-radius: 50px;
  width: 35px;
  text-align: center;
  padding: 0.4rem;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modalNavigation {
  border-bottom: 1px solid rgb(228, 228, 228);
  margin-bottom: 24px;
}
#modalNavigation button {
  border: none;
  border-radius: 0;
  padding: 0 0 8px 0;
  margin: 0 36px 0 0;
  font-size: 1rem;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  color: #757575;
}
#modalNavigation button:hover {
  background-color: white;
}
#modalNavigation .active {
  color: #000000 !important;
  border-bottom: 1px solid rgb(0, 0, 0);
}
#modalTitle {
  text-align: center;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

/* modal content design */

.salon {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}
.salon span {
  font-weight: 700;
  color: black;
}
.clima {
  color: rgb(3, 61, 61);
  background-color: rgb(247 247 247);
  padding: 0.5rem;
  border-radius: 50px;
  font-size: 0.75rem;
  font-weight: 500;
  margin: 1rem 0.5rem 0.5rem 0;
}
.modal-content ul {
  margin: 1.3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  line-height: 2rem;
  list-style: none;
  border-bottom: 1px solid rgb(228, 228, 228);
  padding-bottom: 1rem;
}
/* .modal-content-height{
  height: 50px;
  scroll-behavior:auto;
  overflow-y: hidden;
} */

/* header navigation style */

#resevationBtn {
  border: none;
  border-radius: 50px;
  margin: 0 0 0 0;
  background-color: rgb(255, 192, 20);
  padding: 0.5rem 2rem;
  color: black;
  display: none;
}
.modal #reservationCard {
  margin: 1rem auto;
}

.video-text i {
  padding: 1rem;
  border-radius: 50px;
  background-color: #ffd700;
}

.video-text {
  margin: 0 1rem;
}

.video-text p {
  font-size: 2em;
  margin-top: 0;
  padding: 0;
}

/* Reservation card design */

#reservationCard {
  border: 1px solid rgb(187, 187, 187);
  width: 80%;
  height: fit-content;
  padding: 1rem 2rem;
  text-align: center;
  grid-column: 6/12;
  position: sticky;
  top: 5%;
  min-width: 80%;
}
#reservationCard hr {
  margin-bottom: 2rem;
}
#reservationCard div:last-child {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid rgb(187, 187, 187);
}
#reservationBtns {
  display: flex;
  gap: 1rem;
}
#reservationBtns a {
  padding: 0.875rem 1rem;
  margin: 0 6px 16px 0;
  text-align: center;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  border: 1px solid rgb(3, 61, 61);
  width: 100%;
}
#WhatsappBtn {
  background-color: rgb(3, 61, 61);
  color: white !important;
}
#reservationDate {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 2rem;
}
#reservationDate input {
  padding: 1rem 1rem;
  border-radius: 10px;
  border: 1px solid gray;
  margin-top: 0.5rem;
}
#reservationDate input::placeholder {
  color: #999;
  font-weight: 900;
}
#reservationNumber {
  font-weight: 700;
  color: rgb(3, 61, 61);
}
#inputDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
  width: 100%;
}
/* Characteristiques div design */

#charactersDiv {
  display: flex;
  justify-content: end;
  /* font-family: "Lora", serif !important; */
  margin-top: 1rem;
}
#charactersDiv ul {
  line-height: 2rem;
}
#relativeDiv {
  position: sticky;
  top: 0;
  min-width: 50%;
  grid-column: 5/8;
  display: flex;
  justify-content: end;
}

/* Gallery */

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  width: 100%;
}

#gallery div img {
  object-fit: cover;
}
#gallery .column-full {
  grid-column: 1/8;
}

#gallery .column-full video {
  width: 100%;
  height: 100%; /* Customize this height as needed */
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#gallery .column1 {
  grid-column: 3 / 8;
  grid-row: 2 / 4;
}
#gallery .column2 {
  grid-column: 4/8;
}
#gallery .column3 {
  grid-column: 1 / 3;
}
#gallery .column4 {
  grid-column: 4 / 8;
  grid-row: 6 / 6;
}
#gallery .column5 {
  grid-column: 1/3;
}
#gallery .column6 {
  grid-column: 1 / 4;
  grid-row: 4 / 4;
}
#gallery .column7 {
  grid-column: 3/8;
}
#gallery .column8 {
  grid-column: 1/4;
}
#gallery img {
  object-fit: cover;
  height: 100%;
}

/* Details css */

.hidden {
  display: none !important;
}
.read-more {
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-weight: 700;
  display: inline-block;
  margin-top: 1rem;
}
#read-more i {
  transform: rotate(90deg);
  margin-left: 1rem;
}
#charactersLine {
  margin: 2rem 0;
}
.characterList {
  display: flex;
  gap: 0.5rem;
}
#description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
}
#description p {
  margin-top: 2rem;
}
#description p:nth-child(0) {
  margin-top: 0;
}
.localisation {
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
}
#read-less i {
  transform: rotate(-90deg);
  margin-left: 1rem;
}

/* grotte section style */

#grotteDescription {
  margin: 1rem 0;
  line-height: 1.5rem;
}
#grotteRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.column img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.column-full {
  grid-column: 1/4;
}

.column-full video {
  width: 100%;
  height: 100%; /* Customize this height as needed */
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.column1 {
  grid-column: 1/2;
}
.column2 {
  grid-column: 1/2;
}
.column3 {
  grid-column: 2/4;
  grid-row: 2/4;
}
.column3 img {
  object-fit: cover;
  height: 100%;
}

/* map section design */

#mapSubTitle {
  font-family: "Lora", serif;
  color: rgb(76 76 76);
  font-size: 1.3rem;
  margin: 1rem 0;
}
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
}

.map-iframe {
  width: 100% !important;
  height: 450px;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Checkin design */

#checkinParam {
  display: flex;
  gap: 3rem;
}
#checkinParam div {
  margin-top: 10px;
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
}
#checkinParam div div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: start;
}
#checkinParam h3 {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  color: #202020;
  font-weight: 600;
}
#checkinParam span {
  font-size: 0.875rem;
  color: #757575;
}
#paramUl {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: start;
  margin-top: 0.5rem;
}
#paramUl li {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: start;
}
#paramUl svg path {
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
}

/* footer */

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  min-height: 100px;
}

.footer-content {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin: 0 auto;
}

.footer-logo {
  max-width: 5rem;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.footer-info {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

.footer-info li {
  margin: 5px 0;
}

.footer-content a:hover {
  text-decoration: underline;
}

/* testimonials slide design */

#testemonialsDiv {
  background-color: #fbf9f5;
  padding: 1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.slide {
  display: none;
  width: 100%;
  transition: opacity 0.5s;
}
.slide.active {
  display: block;
  opacity: 1;
}
.userInfos {
  display: flex;
  gap: 1rem;
  font-size: 1.25rem;
  align-items: center;
}
.userInfos img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #757575;
}
.userInfos h3 {
  margin-bottom: 0;
}
.reviewDescription {
  font-size: 1rem;
  line-height: 1.8rem;
}
.reviewDescription i {
  font-size: 2rem;
  margin-top: 1rem;
}
#reviewsController {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
#reviewsController ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  align-items: center;
  font-size: 1.25rem;
}
.navigation {
  width: 10px;
  height: 10px;
  border: 1px solid #bbbbbb;
  border-radius: 50%;
  cursor: pointer;
}
.navigation.active {
  background-color: black;
  padding: 0.2rem;
}
.arrow {
  cursor: pointer;
  font-size: 1.5rem;
}

/* responsive menu */

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 40vh;
  width: 80%;
  background-color: rgb(60 60 60 / 52%);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1024;
}
.sidebar li {
  width: 100%;
  height: 50px;
}
.sidebar a {
  width: 100%;
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}
.sidebar a:hover {
  text-decoration: underline;
}

.menu-button {
  display: none;
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

@media (min-width: 768px) {
  #menu {
    display: none;
  }
}

/* media query */

@media (max-width: 768px) {
  #appMenu {
    display: none;
  }
  .sidebar li {
    font-size: 1.5rem !important;
  }
  .villa-section {
    padding: 20px;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .row {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .sidebar li {
    font-size: 1.2rem !important;
  }
  #relativeDiv {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .banner {
    height: 40vh;
  }
  .content {
    top: 65%;
  }
  .row {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .map-iframe {
    height: 300px;
  }
  #completeDelete {
    display: block !important;
    margin-top: 2rem;
  }
  #charactersDiv {
    flex-direction: column;
  }
  .banner ul {
    display: flex;
    width: 100%;
  }
  .banner ul li {
    margin: 0;
  }
  .modal-content {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
  #modalNavigation button {
    font-size: 14px;
    margin-right: 10px;
  }
  .modal-content ul {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .content h1,
  h3 {
    font-size: 1.2rem !important;
  }
  .video-text i {
    padding: 0.5rem;
  }
  h1 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
  #relativeDiv {
    display: none;
  }
  body {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 1264px) {
  #relativeDiv {
    display: none;
  }
  .sidebar li {
    font-size: 2.5rem;
    margin: 1rem;
  }
  #appMenu {
    display: none;
  }
  .menu-button {
    display: block;
  }
  #resevationBtn {
    display: block;
  }
  .modal-content {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
}
@media only screen and (max-width: 900px) {
  #gallery {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }
  #grotteRow {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  #gallery .column1 {
    grid-column: 2 / 8;
    grid-row: 2 / 5;
  }
  #gallery .column2 {
    grid-column: 1 / 3;
    grid-row: 5 / 7;
  }
  #gallery .column3 {
    grid-column: 1 / 2;
  }
  #gallery .column4 {
    grid-column: 3 / 8;
    grid-row: 6 / 6;
  }
  #gallery .column5 {
    grid-column: 1/3;
  }
  #gallery .column6 {
    grid-column: 1 / 2;
    grid-row: 4 / 4;
  }
  #gallery .column7 {
    grid-column: 3 / 8;
    grid-row: 5 / 5;
  }
  #gallery .column8 {
    grid-column: 3/8;
  }
}

@media (max-width: 480px) {
  .footer-info li {
    font-size: 14px;
  }

  .footer-info a {
    font-size: 14px;
  }
}
